<!DOCTYPE html>
<html>
<head>
	<title>Krishi++ - User</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <style>
    	html, body, .my-wrapper {
  			height: 100%;
		}
	</style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="grey lighten-4"> 
	<div class="my-wrapper valign-wrapper row">
		<div class="card-panel col s10 offset-s1 m8 offset-m2 l6 offset-l3 z-depth-3 row ">
			<div class="my-wrapper valign-wrapper row" style="margin-bottom: 0px">
				<div class="col l5">
					<img class="responsive-image circle " style="width: 250px; height: 250px;" src="user.svg">
				</div>
		
				<div class="col l7">
					<div class="row">
						<div class="section">
							<h4 class="col s12 left-align">{{name}}</h4>
						</div>
						<div class="divider col s12"></div>
						<div class="col s12">
						<div class="section">
							<ul class="tabs ">
        						<li class="tab col s4"><a href="#test1">CROPS</a></li>
        						<li class="tab col s4"><a href="#test2">UTILS</a></li>
        						<li class="tab col s4"><a href="#test3">PREDICT</a></li>
        						
        					</ul>
						</div>
					
						<div id="test1">
  							<ul class="collapsible col s11 grey lighten-4" data-collapsible="accordion">
    						<li>
      							<div class="collapsible-header tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Crops that can  be grown"  ><i class="material-icons">spa</i>CROP</div>
      							<div class="collapsible-body"><span>{{crop}}</span></div>
   							</li>
    						<li>
      							<div class="collapsible-header tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Variety of the crops"><i class="material-icons"> all_inclusive</i>VARIETY</div>
      							<div class="collapsible-body"><span>{{variety}}</span></div>
    						</li>
    						<li>
      							<div class="collapsible-header tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Intercrops that can be grown"><i class="material-icons">nature_people</i>INTERCROP</div>
      							<div class="collapsible-body"><span>{{intercrop}}</span></div>
    						</li>
    						<li>
      							<div class="collapsible-header tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Sowing period"><i class="material-icons">timeline</i>SOWING PERIOD</div>
      							<div class="collapsible-body"><span>{{sowingPeriod}}</span></div>
    						</li>
 							</ul>
 						</div>
 						<div id="test2">
 							<ul class="collapsible col s11 grey lighten-4" data-collapsible="accordion">
    						<li>
      							<div class="collapsible-header tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Land prepration"  ><i class="material-icons">landscape</i>LAND PREPRATION</div>
      							<div class="collapsible-body"><span>{{landprep}}</span></div>
   							</li>
   							<li>
      							<div class="collapsible-header tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Rate of seed sowing"  ><i class="material-icons">spa</i>SEED RATE</div>
      							<div class="collapsible-body"><span>{{seedrate}}</span></div>
   							</li>
   							<li>
      							<div class="collapsible-header tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Spacing between crops"  ><i class="material-icons">nature</i>SPACING</div>
      							<div class="collapsible-body"><span>{{spacing}}</span></div>
   							</li>
   							<li>
      							<div class="collapsible-header tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Fertilizers"  ><i class="material-icons">grain</i>FERTILIZER</div>
      							<div class="collapsible-body"><span>{{fertilizer}}</span></div>
   							</li>
 							</ul>
 						</div>
 						<div id="test3">
  							<ul class="collapsible col s11 grey lighten-4" data-collapsible="expandable">
    						<li>
      							<div class="collapsible-header active tooltipped grey lighten-4" data-position="right" data-delay="50" data-tooltip="Predicted yield"  ><i class="material-icons">spa</i>YIELD</div>
      							<div class="collapsible-body"><span>{{yield}}</span></div>
    						</li>
 							</ul>
 						</div>
 						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html> 